nav {
	background-color: white;
	margin: 0px;
	padding: 30px;
	font-size: 23px;
}


ul {
	background-color: white;
	color: #800000;
}
ul li a {
	color: #800000;
	text-decoration: none;
	font-size: 20px;
}
li {
	display: inline-block;
	margin-right: 10px;
}


body {
	background-color: #f2bfa6;
	margin: 0px;
}

body img {
	margin-left:15px;
	margin-top:15px
}

body table {
	padding: 20px;
	text-align: center;
}

body article {
	margin-left:25px;
	font-size: 20px;
	color: #800000;
}

footer {
	background-color: white;
	margin: 0px;
	padding: 30px;
	font-size: 16px;
}

section {
	background-color: white;
	margin: 0px;
	padding: 12px;
	font-size: 25px;
	color: #800000;
}
